shape_search/configs.txt filter=lfs diff=lfs merge=lfs -text
video_cut/tools/ffmpeg/bin/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
video_cut/dist/video_cut_app/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
